.d-none-temp {
    display: none;
}

.pre-scrollable {
    max-height: 640px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}
::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
}
::-webkit-scrollbar-button {
    display: none;
}
.image_del {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 2.8rem;
    height: 2.8rem;
    background-color: rgba(47, 52, 65, 90%);
    font-size: 1.1rem;
    border-radius: 50rem;
    z-index: 900;
    transition: all 0s ease-in;
    align-items: center;
    justify-content: center;
}
.inx-chip {
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0 0.5rem 0 0.75rem;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    cursor: default;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 1.5rem;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.8rem;
}

.inx-chip:focus,
.inx-chip:hover {
    background-color: #c7c6c6;
    border-color: #c7c6c6;
}

.inx-chip-action i {
    margin-left: 5px;
    font-size: 1.5rem;
    color: #fff;
}

.inx-chip-action .material-icons:hover {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-contact {
    width: 2.25rem;
    margin-right: 5px;
    margin-left: -0.75rem;
    border-radius: 50%;
}

.inx-chip-primary {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.inx-chip-primary:focus,
.inx-chip-primary:hover {
    color: #fff;
    background-color: #1266f1;
    border-color: #1266f1;
}

.inx-chip-secondary {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.inx-chip-secondary:focus,
.inx-chip-secondary:hover {
    color: #fff;
    background-color: #199d76;
    border-color: #199d76;
}

.inx-chip-success {
    color: #fff;
    background-color: #259b24;
    border-color: #259b24;
}

.inx-chip-success:focus,
.inx-chip-success:hover {
    color: #fff;
    background-color: #1b721a;
    border-color: #1b721a;
}

.inx-chip-info {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.inx-chip-info:focus,
.inx-chip-info:hover {
    color: #fff;
    background-color: #0286c2;
    border-color: #0286c2;
}

.inx-chip-warning {
    color: #333;
    background-color: #ffc107;
    border-color: #ffc107;
}

.inx-chip-warning:focus,
.inx-chip-warning:hover {
    color: #333;
    background-color: #d39e00;
    border-color: #d39e00;
}

.inx-chip-danger {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.inx-chip-danger:focus,
.inx-chip-danger:hover {
    color: #fff;
    background-color: #ee3900;
    border-color: #ee3900;
}

.inx-chip-light {
    color: #333;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.inx-chip-light:focus,
.inx-chip-light:hover {
    color: #333;
    background-color: #dae0e5;
    border-color: #dae0e5;
}

.inx-chip-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.inx-chip-dark:focus,
.inx-chip-dark:hover {
    color: #fff;
    background-color: #1d2124;
    border-color: #1d2124;
}

.inx-chip-outline-primary {
    color: #4285f4;
    background-color: transparent;
    border-color: #4285f4;
}

.inx-chip-outline-primary .inx-chip-action i {
    background-color: rgba(66, 133, 244, 0.38);
}

.inx-chip-outline-primary:focus,
.inx-chip-outline-primary:hover {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.inx-chip-outline-primary:focus .inx-chip-action i,
.inx-chip-outline-primary:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-secondary {
    color: #20c997;
    background-color: transparent;
    border-color: #20c997;
}

.inx-chip-outline-secondary .inx-chip-action i {
    background-color: rgba(32, 201, 151, 0.38);
}

.inx-chip-outline-secondary:focus,
.inx-chip-outline-secondary:hover {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}

.inx-chip-outline-secondary:focus .inx-chip-action i,
.inx-chip-outline-secondary:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-success {
    color: #259b24;
    background-color: transparent;
    border-color: #259b24;
}

.inx-chip-outline-success .inx-chip-action i {
    background-color: rgba(37, 155, 36, 0.38);
}

.inx-chip-outline-success:focus,
.inx-chip-outline-success:hover {
    color: #fff;
    background-color: #259b24;
    border-color: #259b24;
}

.inx-chip-outline-success:focus .inx-chip-action i,
.inx-chip-outline-success:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-info {
    color: #03a9f4;
    background-color: transparent;
    border-color: #03a9f4;
}

.inx-chip-outline-info .inx-chip-action i {
    background-color: rgba(3, 169, 244, 0.38);
}

.inx-chip-outline-info:focus,
.inx-chip-outline-info:hover {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4;
}

.inx-chip-outline-info:focus .inx-chip-action i,
.inx-chip-outline-info:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-warning {
    color: #ffc107;
    background-color: transparent;
    border-color: #ffc107;
}

.inx-chip-outline-warning .inx-chip-action i {
    background-color: rgba(255, 193, 7, 0.38);
}

.inx-chip-outline-warning:focus,
.inx-chip-outline-warning:hover {
    color: #333;
    background-color: #ffc107;
    border-color: #ffc107;
}

.inx-chip-outline-warning:focus .inx-chip-action i,
.inx-chip-outline-warning:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-danger {
    color: #ff5722;
    background-color: transparent;
    border-color: #ff5722;
}

.inx-chip-outline-danger .inx-chip-action i {
    background-color: rgba(255, 87, 34, 0.38);
}

.inx-chip-outline-danger:focus,
.inx-chip-outline-danger:hover {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.inx-chip-outline-danger:focus .inx-chip-action i,
.inx-chip-outline-danger:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    border-color: #f8f9fa;
}

.inx-chip-outline-light .inx-chip-action i {
    background-color: rgba(248, 249, 250, 0.38);
}

.inx-chip-outline-light:focus,
.inx-chip-outline-light:hover {
    color: #333;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.inx-chip-outline-light:focus .inx-chip-action i,
.inx-chip-outline-light:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.inx-chip-outline-dark {
    color: #343a40;
    background-color: transparent;
    border-color: #343a40;
}

.inx-chip-outline-dark .inx-chip-action i {
    background-color: rgba(52, 58, 64, 0.38);
}

.inx-chip-outline-dark:focus,
.inx-chip-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.inx-chip-outline-dark:focus .inx-chip-action i,
.inx-chip-outline-dark:hover .inx-chip-action i {
    background-color: rgba(0, 0, 0, 0.38);
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden;
}

.plus-input-warp {
    width: 140px;
    height: 140px;
}

.plus-input {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 140px;
    height: 140px;
    font-size: 2rem !important;
    color: #c0c6d1;
    border: 1px dashed #ddd;
}
.plus-input i {
    line-height: 136px;
    font-size: 3rem;
}
.plus-input img {
    object-fit: cover;
    width: 140px;
    height: 140px;
}
.image_one_del {
    text-align: center;
    padding: 8px;
    background: #000;
    opacity: 0.3;
    color: #fff;
    position: absolute;
    display: none;
    font-size: ;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: hidden !important;
}

.jconfirm .jconfirm-box.jconfirm-type-blue {
    border-top: solid 7px #0046FE !important;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: none !important;
    text-align: center !important;
    display: flex;
}

.bottom_btn_flex_end_wrap {
    display: flex;
    height: 320px;
    z-index: 1040;
    width: 100%;
    max-width: var(--wrap_wd);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.bottom_btn_flex_end_box {
    width:100%;
    display: inline-block;
    align-self: flex-end;
}
.sch_cld_wrap .cld_date_wrap.on {
    height: auto;
}

.sch_wrap {
    /* padding-top: 0; */
}

.cld_body ul li div span {
    display: block;
    border-radius: 50%;
    padding-top: 3px;
}

.cld_body ul li div.schdl span:after {
    margin: auto;
}

.cld_body ul li div.active span {
    color: #fff;
}